﻿<!-- End Session -->
<!-- Plugins -->
<script type="text/javascript" charset="utf-8" src="/src/plugins/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/bootstrap/bootstrap.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/metisMenu/jquery.metisMenu.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/toastr/toastr.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/pace/pace.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/gritter/jquery.gritter.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dropzone/dropzone.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/calendar/moment.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/calendar/fullcalendar.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/carousel/carousel.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dataTables/datatables.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/dataTables/datatables.responsive.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/sweetalert/sweetalert.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/validate/validate.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/select2/select2.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/datapicker/datepicker.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/summernote/summernote.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/RangeSlider/js/ion-rangeSlider/ion.rangeSlider.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/plugins/handlebars/handlebars.js"></script>
<!-- End Plugins -->
<!-- Theme -->
<script type="text/javascript" charset="utf-8" src="/src/js/inspinia.js"></script>
<!-- End Theme -->
<!-- Own -->
<script type="text/javascript" charset="utf-8" src="/src/js/TexCross.js"></script>
<!-- End Own -->