﻿<!-- Meta -->
<meta charset='utf-8' />
<meta name='description' content='TexCross Lean Manufacturing' />
<meta name='keywords' content='Tags Search Engine' />
<meta name='author' content='Kelly Ugarte' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta http-equiv='Content-type' content='text/html; charset=UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<!-- End Meta -->