﻿<!-- Favicon -->
<link rel="shortcut icon" href="/src/img/TexCross.png" />
<!-- End Favicon -->
<!-- Font -->
<link rel="stylesheet" href="/src/font/awesome/css/fa.css" />
<!-- End Font -->
<!-- Plugins -->
<link rel="stylesheet" href="/src/plugins/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="/src/plugins/animate/animate.css" />
<link rel="stylesheet" href="/src/plugins/toastr/toastr.css" />
<link rel="stylesheet" href="/src/plugins/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="/src/plugins/jqGrid/ui.jqgrid.css" />
<link rel="stylesheet" href="/src/plugins/dropzone/basic.css" />
<link rel="stylesheet" href="/src/plugins/dropzone/dropzone.css" />
<link rel="stylesheet" href="/src/plugins/calendar/fullcalendar.css" />
<link rel="stylesheet" href="/src/plugins/calendar/fullcalendar.print.css" media='print' />
<link rel="stylesheet" href="/src/plugins/carousel/carousel.css" />
<link rel="stylesheet" href="/src/plugins/dataTables/datatables.css" />
<link rel="stylesheet" href="/src/plugins/dataTables/datatables.responsive.css" />
<link rel="stylesheet" href="/src/plugins/gritter/jquery.gritter.css" />
<link rel="stylesheet" href="/src/plugins/sweetalert/sweetalert.css" />
<link rel="stylesheet" href="/src/plugins/select2/select2.css" />
<link rel="stylesheet" href="/src/plugins/datapicker/datepicker.css" />
<link rel="stylesheet" href="/src/plugins/summernote/summernote.css" />
<link rel="stylesheet" href="/src/plugins/RangeSlider/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="/src/plugins/RangeSlider/css/ion.rangeSlider.skinFlat.css" />
<!-- End Plugins -->
<!-- Own -->
<link rel="stylesheet" href="/src/css/style.css" />
<link rel="stylesheet" href="/src/css/test.css" />
<!-- End Own -->