﻿<%@ Page Title="" Language="C#" MasterPageFile="~/app/admin.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="web.app.page.Dashboard.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
    Inicio • TexCross
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="addHead" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="breadcrumb" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="content" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="addFooter" runat="server">
</asp:Content>
