﻿<%@ Page Title="" Language="C#" MasterPageFile="~/app/admin.Master" AutoEventWireup="true" CodeBehind="Listar.aspx.cs" Inherits="web.app.page.Proyecto.Listar" %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
    Lista de proyectos • TexCross
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="addHead" runat="server">

    <style>
        #tblProyecto .dataTables_wrapper {
            padding-bottom: 0 !important;
        }
    </style>

</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="breadcrumb" runat="server">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Lista de proyectos</h2>
            <ol class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li><a href="javascript:;">Proyectos</a></li>
                <li class="active"><strong>Lista</strong></li>
            </ol>
        </div>
    </div>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="content" runat="server">

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Listado</h5>
                    <div class="ibox-tools">
                        <a class="tbl_btnRefresh" href="javascript:;">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <div class="row">
                        <div id="tblProyecto" class="col-xs-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 mb-5">
                                    <span class="font-bold">Leyenda:</span>
                                </div>
                                <div class="col-xs-12 mb-5">
                                    <button type="button" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                                    <span>Proyecto completado</span>
                                </div>
                                <div class="col-xs-12 mb-5">
                                    <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-eye"></i></button>
                                    <span>Proyecto en progeso</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="addFooter" runat="server">

    <!-- HandleBars-->
    <script id="HB_tblProyecto_Load" type="text/x-handlebars-template">
        <div class="col-xs-12 p-0 mt-10 tCenter">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </script>

    <script id="HB_tblProyecto_Msg" type="text/x-handlebars-template">
        <div class="col-xs-12 p-0 mt-10 tCenter">
            <span class="font-14">{{msg}}</span>
        </div>
    </script>

    <script id="HB_tblProyecto" type="text/x-handlebars-template">

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="tCenter bg-white" colspan="3"></th>
                    <th class="tCenter bg-white" colspan="2">Montos</th>
                    <th class="tCenter bg-white" colspan="3">Fecha</th>
                    <th class="tCenter bg-white" colspan="1" rowspan="2"></th>
                </tr>
                <tr>
                    <th>Cod</th>
                    <th>Cliente</th>
                    <th class="tRight">%</th>
                    <th class="tRight">Costo</th>
                    <th class="tRight">Precio</th>
                    <th class="tCenter">Inicio</th>
                    <th class="tCenter">Fin estimado</th>
                    <th class="tCenter">Fin real</th>
                </tr>
            </thead>
            <tbody>
                {{#each arr}}
                <tr data-id="{{Id}}">
                    <td>{{Cod}}</td>
                    <td>{{Cliente}}</td>
                    <td class="tRight">{{Porcentaje}}</td>
                    <td class="tRight">{{Costo}}</td>
                    <td class="tRight">{{Precio}}</td>
                    <td class="tCenter">{{FInicio}}</td>
                    <td class="tCenter">{{FEFin}}</td>
                    <td class="tCenter">{{FFin}}</td>
                    <td class="tCenter">
                        <a href="/Proyecto/{{Cod}}" class="btn btn-xs btn-{{#if Completo}}success{{else}}danger{{/if}}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </script>

    <script type="text/javascript">

        var app = new function () {

            this.el = {
                divTbl: '#tblProyecto',
                tblRefresh: '.tbl_btnRefresh'
            }

            this.lg = {
                getLis: async () => {
                    try {
                        let r = await jsServer.ARes("Pedido_Lis");
                        if (!jsServer.Valid(r)) { throw r.Mensaje; }
                        return r;
                    } catch (e) { throw e; }
                }
            }

            this.init = async () =>
            {
                this.fn.getLis();
                this.on.click_refresh();
            }

            this.fn = {

                getLis: async () => {

                    try {

                        let html = Handlebars.compile($('#HB_tblProyecto_Load').html());
                        $(this.el.divTbl).html(html());

                        let r = await this.lg.getLis();

                        html = Handlebars.compile($('#HB_tblProyecto').html());

                        $(this.el.divTbl).html(html({ arr: r }));

                        util.dataTable.init(`${this.el.divTbl} table`);

                    } catch (e) {
                        let html = Handlebars.compile($('#HB_tblProyecto_Msg').html());
                        $(this.el.divTbl).html(html({ msg: e }));
                    }

                }
            }

            this.on = {

                click_refresh: (life = true) =>
                {
                    $(this.el.tblRefresh).off('click');
                    if (life) { $(this.el.tblRefresh).on('click', () => { this.fn.getLis(); }); }
                }

            }

        }

        var util = new function () {

            this.dataTable = {

                init: async (item) => {

                    $(item).DataTable({
                        dom: '<"html5buttons"B>lTfgitp',
                        language: jsUtil.DTable.sp,
                        ordering: false,
                        pageLength: 25,
                        responsive: false,
                        aLengthMenu: [
                            [10, 25, 50, 100, 200, -1],
                            [10, 25, 50, 100, 200, "All"]
                        ],
                        buttons: [
                            { extend: 'copy' }, { extend: 'csv' }, { extend: 'excel', title: 'ExampleFile' }, { extend: 'pdf', title: 'ExampleFile' },
                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');
                                    $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                                }
                            }
                        ],
                        destroy: true
                    });
                }
            }
        }

        app.init();

    </script>

</asp:Content>

